.diet{

  margin-bottom: 250px;
  .goalblock{
    height: 200px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 #f2f5f8, 0 2px 4px 0 rgba(255, 108, 60, 0.04);
    background-color: #ffffff;
    border: solid 1px #edf0f4;

    h2{
      text-align: center;
      font-size: 40px;
      margin-top: 35px;
    }

    b{
      font-weight: 600;
      color: #000;
    }
  }

  .dietblock{
    h1{
      text-align: left;
      span{
        color: rgba(183, 189, 201, 0.64);
      }
    }
  }

  .userstatsblock{
    @extend .goalblock;

    height: 470px;
    margin-bottom: 30px;

    h3{
      margin: auto;
      width: 40%;
      text-align: left;

      span{
        float: right;
      }
    }
  }
}