.dashboard{
  .intro{
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 rgba(28, 38, 54, 0.16);
    padding: 16px 40px;
    margin-bottom: 30px;
  }

  .contentblock{
    height: 300px;
    width: 90%;
    border-radius: 4px;
    background-color: #ffffff;
    margin: 30px auto;
  }
}

.navigation{
  position: relative;
  ul{
    width: 100%;
    bottom: 10px;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li{
    float: left;
    width: 25%
  }

  li a{
        display: block;
        color: #fff;
        text-align: center;
        text-decoration: none;
        padding: 15px;
  }
}