.notions{
  .letterbox{
    margin-bottom: 50px;
    border-left: 4px solid $primary-orange;

    h3{
      padding-bottom: 20px;
      margin-left: 20px;
      text-align: left;
      border-bottom: 2px solid lightgrey;
    }

    ul{
      font-size: 30px;
      color: $primary-orange;

      li{
        h2{
          color: black;
          font-weight: 600;
          font-size: 40px;
        }

        p{
          color: #b7bdc9;
          font-size: 35px;
        }
      }
    }
    
  }
}