<%= render 'navigation' %>

<div class="intro">
  <h1> Bro of Science? </h1> 
</div>

<h3>Is de onderstaande stelling onzin (bro) of waar (science)? <br>Succes!</h3>

<div class="broorscience broscience">
  <div class="broblock">
    <div class="premise">
      <h3>Afvallen heeft veel te maken met stofwisseling.</h3>
    </div>

    <button class="button-secundary pull-left">Bro</button>
    <button class="button-primary pull-right">Science</button>

 </div>

</div>