<div class="dashboard">

  <%= render 'navigation' %>

  <div class="intro">
    <h3> Quote, welkomstbericht of aanmoediging </h3> 
  </div>

  <div class="contentblock">  
    <h2>Mijn huidige training</h2> 
    <%= link_to("Hervat deze training", users_trainingshow_path) %>
  </div>

  <div class="contentblock">  
    <h2>Mijn dieet</h2> 
    <h3> Jouw KCAL metingen</h3>
  </div>

  <div class="contentblock">  
    <h2>Broscience</h2> 
    <h3>Feiten van broeders</h3>
  </div>
</div>