<div class="row">
  <%= image_tag("favicon.png") %> 
  <span>Spotter</span>
</div>

<h1>Welkom terug</h1>

<h3>Jouw gebruikersnaam en wachtwoord</h3>

<input type="text" placeholder="Uw naam">
<input type="text" placeholder="Wachtwoord">

<button class="button-primary">Inloggen</button> <br/>

<a href="">Ik heb nog geen account</a>