<div class="login">

  <div class="logo"> <%= image_tag("favicon.png") %> Spotter</div>

  <h1>Welkom terug</h1>

  <h3>Jouw gebruikersnaam en wachtwoord</h3>

  <input type="text" placeholder="Uw naam">
  <input type="text" placeholder="Wachtwoord">

  <div class="submit">

    <%= link_to '<button type="button" class="button-primary">Inloggen</button>'.html_safe, users_dashboard_path %> <br> 

    <%= link_to 'Ik heb nog geen account', registrations_welcome_path %>
  </div>
</div>