<%= render 'navigation' %>

<div class="intro">
  <h1> Begrippen </h1> 
</div>

<div class="notions">
  <input type="text" placeholder="Zoek een begrip">

  <div class="letterbox">
    <h3>1-9</h3>
    <ul>
      <li> <h2>1RM</h2> <p>Afkorting voor "1 Rep Max". Dit is het maximale gewicht wat een persoon kan gebruiken om een oefening eenmalig, goed, uit te voeren.</p></li>
    </ul>
  </div>

  <div class="letterbox">
    <h3>B</h3>
    <ul>
      <li> <h2>Barbell</h2> <p>Een barbell is een lange staaf waar gewicht schijven aan vast gemaakt kunnen worden. Deze stangen wegen zelf vaak 10 of 20 kilo. Het gewicht van de stang wordt altijd meeberekent bij het totale gewicht van een oefening.</p></li>
    </ul>
  </div>


  <div class="letterbox">
    <h3>C</h3>
    <ul>
      <li> <h2>Cardio</h2> <p>Cardiotraining zijn oefeningen die vaak over lange tijd en lagere intensiteit worden uitgevoerd met als doel om of zoveel mogelijk calorieen te verbranden en/of de algehele conditie te verbeteren.</p></li>
    </ul>
  </div>

  <div class="letterbox">
    <h3>D</h3>
    <ul>
      <li> <h2>DOMS</h2> <p>Afkorting voor "Delayed Onset Muscle Soreness". Dit beschrijft de spierpijn die mensen ervaren vaak 1 of 2 dagen na een training.</p></li>
      <li>
        <h2>Dumbell</h2><p>Een dumbell is een los gewicht wat in een enkele hand vastgehouden kan worden. Dumbells zijn vaak aanwezig in grote variatie en met een vast gewicht per dumbell.</p>
      </li>
    </ul>
  </div>

  <div class="letterbox">
    <h3>I</h3>
    <ul>
      <li> <h2>Intensiteit</h2> <p>De trainingsintensiteit wordt vaak uitgedrukt als een percentage binnen een oefening. Dit representeerd hoe dicht een gebruiker zit bij zijn/haar maximale gewicht (Zie: "1RM").</p></li>
    </ul>
  </div>

  <div class="letterbox">
    <h3>O</h3>
    <ul>
      <li> <h2>Overload</h2> <p>Overloaden betekent een oefening zwaarder doen dan normaal om progressie te drijven.</p></li>
    </ul>
  </div>

  <div class="letterbox">
    <h3>R</h3>
    <ul>
      <li> <h2>Rep(s)</h2> <p>Afkorting voor “repetitions”, oftewel het aantal herhalingen.</p></li>
      <li> <h2>RoM</h2> <p>Afkorting voor "Range of Motion". De volledige beweging van een oefening.</p></li>
    </ul>
  </div>

  <div class="letterbox">
    <h3>S</h3>
    <ul>
      <li>
        <h2>Set(s)</h2><p>Het aantal repetities waarna een persoon rust neemt of een oefening afsluit.</p>
      </li>
      <li> <h2>Shake</h2> <p>Wordt veelal gebruikt als referentie naar een eiwit/proteine shake.</p></li>
    </ul>
  </div>

  <div class="letterbox">
    <h3>T</h3>
    <ul>
      <li> <h2>TDEE</h2> <p>Afkorting voor “Total Daily Energy Expendature". De TDEE waarde wordt veelal uitgedrukt als de hoeveelheid calorieen die een persoon dagelijks verbrand.</p></li>
    </ul>
  </div>

</div>