<div class="Settings">
  
  <%= render 'navigation' %>

  <div class="intro">
    <h1> Instellingen </h1> 
  </div>

   <div class="submit">
    <%= link_to '<button type="button" class="button-primary">Uitloggen</button>'.html_safe, root_path %> <br> 
  </div>
 
</div>