<div class="trainingindex">
  
  <%= render 'navigation' %>

  <div class="intro">
    <h1> Trainingen </h1> 
  </div>

  <div class="contentblock">
    <h2>Training 1</h2>
  </div>

  <div class="contentblock">
    <h2>Training 2</h2>
  </div>
    
  <div class="contentblock">
    <h2>Training 3</h2>
  </div>

</div>