<%= render 'navigation' %>

<div class="intro">
  <h1> Training 1 </h1> 
</div>

<div class="trainingshow">

  <div class="trainingblock">
    <div class="col-sm-4">
      <a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200"></a>
    </div>

    <div class="col-sm-5">
      <h2>Oefening 1</h2>
      <h3 style="float:none;">3 Sets van 5 reps</h3>
    </div>

    <div class="col-sm-3">
      <input type="text" placeholder="50 kg">
      <a href="#">bewerken</a>
    </div>
  </div>

  <div class="trainingblock">
    <div class="col-sm-4">
      <a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200"></a>
    </div>

    <div class="col-sm-5">
      <h2>Oefening 2</h2>
      <h3>3 Sets van 5 reps</h3>
    </div>

    <div class="col-sm-3">
      <input type="text" placeholder="50 kg">
      <a href="#">bewerken</a>
    </div>
  </div>

  <div class="trainingblock">
    <div class="col-sm-4">
      <a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200"></a>
    </div>

    <div class="col-sm-5">
      <h2>Oefening 3</h2>
      <h3>3 Sets van 5 reps</h3>
    </div>

    <div class="col-sm-3">
      <input type="text" placeholder="50 kg">
      <a href="#">bewerken</a>
    </div>
  </div>

  <div class="trainingblock">
    <div class="col-sm-4">
      <a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200"></a>
    </div>

    <div class="col-sm-5">
      <h2>Oefening 4 </h2>
      <h3>3 Sets van 5 reps</h3>
    </div>

    <div class="col-sm-3">
      <input type="text" placeholder="50 kg">
      <a href="#">bewerken</a>
    </div>
  </div>

  <div class="trainingblock">
    <div class="col-sm-4">
      <a href="https://placeholder.com"><img src="http://via.placeholder.com/200x200"></a>
    </div>

    <div class="col-sm-5">
      <h2>Oefening 5</h2>
      <h3>3 Sets van 5 reps</h3>
    </div>

    <div class="col-sm-3">
      <input type="text" placeholder="50 kg">
      <a href="#">bewerken</a>
    </div>
  </div>
  
</div>