<%= render 'navigation' %>

<div class="trainingvideo">

  <div class="videoContainer">
    <iframe src="https://www.youtube.com/embed/gRVjAtPip0Y?start=6" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

</div>