<div class="activity">


  <div class="progress">
    <div class="logo"> <h2> <%= image_tag("favicon.png") %> Spotter </h2> </div>
    <div class="percent"> <p>62%</p> </div>
  </div>

  <div class="submit">
    <%= link_to '<button type="button" class="button-primary">Volgende stap</button>'.html_safe, registrations_age_path %> <br> 

    <%= link_to 'Overslaan', registrations_age_path %>
  </div>


  </div>  