<div class="level">

  <div class="progress">
    <div class="logo"> <h2> <%= image_tag("favicon.png") %> Spotter </h2> </div>
    <div class="percent"> <p>75%</p> </div>
  </div>

  <h1>Dieet</h1>
  <h3>Jouw leeftijd</h3>

  <div class="slidercontainer">

    <div style="text-align: center;">
      <label id="fPrice"></label>
    </div>

      <input
        class="slider"
        id="fromPrice"
        type="range"
        min="12"
        max="100"
        step="1"
        value="56"
        data-orientation="vertical"
        oninput="document.getElementById('fPrice').innerHTML = this.value"
      >

  </div>

  <div class="submit">
    <%= link_to '<button type="button" class="button-primary">Volgende stap</button>'.html_safe, registrations_height_path %> <br> 

    <%= link_to 'Overslaan', registrations_height_path %>
  </div>

</div>
