<div class="level">

  <div class="progress">
    <div class="logo"> <h2> <%= image_tag("favicon.png") %> Spotter </h2> </div>
    <div class="percent"> <p>87%</p> </div>
  </div>

  <h1>Dieet</h1>
  <h3>Jouw lengte in centimeters</h3>

  <div class="slidercontainer">

    <div style="text-align: center;">
      <label id="fPrice">160</label>
    </div>

      <input
        class="slider"
        id="fromPrice"
        type="range"
        min="100"
        max="220"
        step="1"
        value="160"
        data-orientation="vertical"
        oninput="document.getElementById('fPrice').innerHTML = this.value"
      >

  </div>

  <div class="submit">
    <%= link_to '<button type="button" class="button-primary">Volgende stap</button>'.html_safe, registrations_weight_path %> <br> 

    <%= link_to 'Overslaan', registrations_weight_path %>
  </div>

</div>
