<div class="introduction">

  <div class="progress">
    <div class="logo"> <h2> <%= image_tag("favicon.png") %> Spotter </h2> </div>
    <div class="percent"> <p>25%</p> </div>
  </div>

  <h1>Introductie</h1>
  <h3>Laten we beginnen met een introductie. <br>
Wie ben je en wat zijn je belangrijkste doelen?</h3>

  <h2> Jouw Roepnaam</h2>

  <input type="text" placeholder="Jan Jansma">

  <h2>Jouw Gender</h2>

  <label class="container pull-left text-center">Man 
    <input type="radio" name="radio">
    <span class="checkmark"></span>
  </label>

  <label class="container text-center" style="margin: 0 5%;">Vrouw 
    <input type="radio" name="radio">
    <span class="checkmark"></span>
  </label>

  <label class="container pull-right text-center">Anders 
    <input type="radio" name="radio">
    <span class="checkmark"></span>
  </label>

  <div class="submit">

  <%= link_to '<button type="button" class="button-primary">Volgende stap</button>'.html_safe, registrations_goals_path %> <br> 

  <%= link_to 'Overslaan', registrations_goals_path %>

  </div>

</div>
