<div class="level">

  <div class="progress">
    <div class="logo"> <h2> <%= image_tag("favicon.png") %> Spotter </h2> </div>
    <div class="percent"> <p>50%</p> </div>
  </div>

  <h1>Jouw Huidige Niveau</h1>
  <h3>Dit is misschien niet de eerste keer dat je aan fitness doet of misschien ben je van nature gewoon sterk. In iedere geval moet het advies wel passen bij jouw huidige niveau. vandaar deze vragen.</h3>

  <select name="" id="">
    <option value="" disabled selected hidden>Heb je in het verleden aan fitness gedaan?</option>
    <option value="">Nee, nog nooit</option>
    <option value="">Ja, minder dan een jaar geleden</option>
    <option value="">Ja, meer dan een jaar geleden</option>
  </select>

  <select name="" id="">
    <option value="" disabled selected hidden>Zo ja, hoe lang heb je dit toen gedaan? </option>
    <option value="">Minder dan 6 maanden</option>
    <option value="">Tussen de 6 en 12 maanden</option>
    <option value="">Meer dan 1 jaar</option>
  </select>

  <select name="" id="">
    <option value="" disabled selected hidden>Op welk niveau schat je jezelf in?</option>
    <option value="">Beginner</option>
    <option value="">Gemiddeld</option>
    <option value="">Gevorderd</option>
  </select>

  <div class="submit">
    <%= link_to '<button type="button" class="button-primary">Volgende stap</button>'.html_safe, registrations_activity_path %> <br> 

    <%= link_to 'Overslaan', registrations_activity_path %>
  </div>

</div>
