<div class="level">

  <%= render 'progress' %>

  <h1>Dieet</h1>
  <h3>Jouw gewicht in kilo's</h3>

  <div class="slidercontainer">

    <div style="text-align: center;">
      <label id="fPrice"></label>
    </div>

      <input
        class="slider"
        id="fromPrice"
        type="range"
        min="40"
        max="150"
        step="1"
        value="95"
        data-orientation="vertical"
        oninput="document.getElementById('fPrice').innerHTML = this.value"
      >

  </div>

  <div class="submit">
    <%= link_to '<button type="button" class="button-primary">Afronden</button>'.html_safe, users_dashboard_path %> <br>

    <%= link_to 'Overslaan', users_dashboard_path %>
  </div>

</div>
