// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}


body{
  margin: 0 auto;
  height: 100%;
  max-width: 800px;
  background-image: linear-gradient(to bottom, #ffffff, #f3ede3);
  position: relative;

}

/**
 * Basic styles for links
 */
a {
  font-family: Palanquin;
  font-size: 32px;
  font-weight: 600;
  color: $primary-orange;
  text-decoration: underline;

  @include on-event {
    color: $primary-orange;
    text-decoration: underline;
  }
}
