// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.intro{
  background-color: $white;
  box-shadow: 0 1px 0 0 rgba(28, 38, 54, 0.16);
  padding: 16px 40px;
  margin-bottom: 30px;
  margin-top: 230px;
}