// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button{
  width: 70%;
  height: 110px;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 #d5d9e3;
  border: solid 1px rgba(29, 47, 65, 0.12);
  font-family: 'Palanquin', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.button-primary{
  @extend .button;
  background: $primary-orange;
  color: #fff;
}

.button-secundary{
  @extend .button;
  background: #f4f7f9;
  color: #000;

}

.button-disabled{
  @extend .button;
  background: #ffb7a3;
  color: #fff;
}

.button-delete{
  @extend .button;

}