// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button{
  width: 200px;
  height: 40px;
  object-fit: contain;
}