.navigation{
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 220px;
  background: $primary-orange;
  top: 0;
  position: fixed;

  ul{
    padding: 30px;
    list-style-type: none;
  }

  h2{
    color: $white;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
  }

  .top-nav{
    li{
      float: left;
      width: 33%
    }
  }

  .bottom-nav{
    width: 100%;
    bottom: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
    li{
      float: left;
      width: 25%;
      border-bottom: 10px solid $primary-orange;

      .active{
        color: $white;
      }
    }

    li a{
      display: block;
      color: #ffbba5;
      text-align: center;
      text-decoration: none;
      padding: 15px;
    }

    .active{
      border-bottom: 5px solid #f93400;
    }
  }
}